* {
	padding: 0;
	margin: 0;
}

.wrapper {
	max-width: 930px;
	min-width: 320px;
	font-family: 'GothamPro', serif;
	margin: 0 auto;
	box-sizing: border-box;
}

/*header*/

.header {
	width: 100%;
	height: 96px;
	display: grid;
	flex-direction: row;
	grid-template-columns: 0.7fr 2.7fr 1fr 1.5fr 0.6fr 0.6fr 0.3fr;
	margin-bottom: 34px;
}

.menu-bar {
	display: none;
}

.header__logo {
	display: flex;
	align-items: center;
}

.header__logo-image {
	width: 55px;
	height: 55px;
}

.header__logo-image_adaptive {
	display: none;
	width: 156px;
	height: 34px;
}

.header__menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/*padding-top: 48px;
	padding-bottom: 24px;*/	
}

.link {
	text-decoration: none;
	color: #000000;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	line-height: 11px;
}

.header__search {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 160px;
}

.search-input {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border: none;
	border-bottom: 1px solid #000000;
}

.search-icon {
	display: flex;
	position: absolute;
	left: 148px;
	align-items: center;
	justify-content: center;
	width: 14px;
	height: 14px;
}

.header__user-block {
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-weight: bold;
}

.header__cart {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__cart_counter {
	height: 14px;
	width: 14px;
	border-radius: 50%;
	background-color: #000000;
	color: #ffffff;
	margin-right: -20px;
	margin-left: 5px;
}

.header__language-block {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
}

.header__language-image {
	width: 20px;
	height: 20px;
}

/*top-content*/

.top-content {
	background-image: url(img/header-img.png);
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 253px;
	margin-bottom: 68px;
}

.top-content__block {
	display: flex;
	flex-direction: column;
	width: 209px;
	padding-left: 54px;
	justify-content: center;
	align-items: flex-start;
}

.top-content__h1 {
	font-size: 30px;
	font-weight: bold;
	line-height: 29px;
	text-transform: uppercase;
	color: #ffffff;
	margin-bottom: 14px;
	text-align: left;
}

.link__white {
	color: #ffffff;
	text-align: left;
}

/*catalog*/

/*.catalog {
	margin: 0 auto;
}*/

.catalog__title {
	font-size: 22px;
	font-weight: bold;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-weight: bold;
}

.catalog__items {
	display: flex;
	justify-content: space-around;
}

.catalog__item {
	display: block;
	position: relative;
	width: 208px;
	height: 261px;
}

.catalog__item:not(:last-child):after {
	content: "";
  opacity: .2;
  background: #000000;
  height: 101px;
  position: absolute;
	top: 36px;
	right: -15px;
	width: 1px;
}

.catalog-item__image {
	width: 170px;
	height: 173px;
	margin-bottom: 24px;
	padding-left: 21px;
}

.catalog-item__title {
	font-size: 12px;
	line-height: 11px;
	text-align: left;
	margin-bottom: 10px;
	padding-left: 11px;
}

.catalog-item__description {
	display: grid;
	grid-template-columns: 2fr 1fr;
	padding-left: 11px;
}

.catalog-item__price {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 14px;
	font-weight: bold;
	line-height: 13px;
	text-align: left;
}

.catalog-item__varities {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.catalog-item__grey {
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #C4C4C4;
}

.catalog-item__black {
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #0E1211;
}

.catalog-item__red {
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #B62E3C;
}

.catalog-item__orange {
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #FDB431;
}

.catalog-item__brown {
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #E29D69;
}

.catalog-item__cherry {
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #762E31;
}

.catalog-item__blue {
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #257DA9;
}

.active-item {
	height: 9px;
	width: 9px;
}

@media (min-width: 768px) and (max-width: 1023px) {
	.wrapper {
		width: 768px;
	}
	.header {
		grid-template-columns: 1fr 1fr;
		position: relative;
	}
	.header__menu, .header__search, .header__user-block, .header__cart, .header__language-block {
		display: none;
	}
	.header__logo-image {
		display: none;
	}
	.header__logo-image_adaptive {
		width: 156px;
		height: 34px;
		display: flex;
		align-items: center;
		margin-left: 43px;
	}
	.menu-bar {
		display: block;
		/*justify-content: flex-end;
		align-items: center;*/
		position: absolute;
		margin-bottom: 42px;
		margin-right: 44px;
		margin-left: auto;
	}
	.top-content {
		background-image: url(img/header-img-768.png);
		width: 100%;
		height: 415px;
		margin-bottom: 38px;
	}
	.top-content__block {
		/*width: 355px;
		height: 169px;*/
		padding-left: 43px;
	}
	.top-content__h1 {
		font-size: 50px;
		line-height: 48px;
		margin-bottom: 37px;
	}
	.link {
		font-size: 20px;
		line-height: 19px;
	}
	.hidden-768 {
		display: none;
	}
	.catalog {
		margin-left: 70px;
		margin-right: 71px;
	}
	.catalog__title {
		font-size: 30px;
		line-height: 29px;
		margin-bottom: 21px;
	}
	.catalog__item {
		width: 281px;
		height: 352px;
	}
	.catalog__item:not(:last-child):after {
		content: "";
		display: none;
	}
	.catalog-item__image {
		width: 233px;
		height: 230px;
		margin-bottom: 18px;
		padding-left: 28px;
	}
	.catalog-item__title {
		font-size: 20px;
		line-height: 19px;
		margin-bottom: 8px;
		padding-left: 15px;
	}
	.catalog-item__description {
		grid-template-columns: 1.5fr 1fr;
		padding-left: 15px;
	}
	.catalog-item__price {
		font-size: 25px;
		line-height: 24px;
	}
	.catalog-item__grey, .catalog-item__black, .catalog-item__red, .catalog-item__orange, .catalog-item__brown, .catalog-item__cherry, .catalog-item__blue {
		height: 20px;
		width: 20px;
	}
}

@media (min-width: 375px) and (max-width: 767px) {
	.wrapper {
		width: 375px;
	}
	.header {
		grid-template-columns: 1fr 1fr;
		margin-bottom: 39px;
	}
	.header__menu, .header__search, .header__user-block, .header__cart, .header__language-block {
		display: none;
	}
	.header__logo-image {
		display: none;
	}
	.header__logo-image_adaptive {
		width: 104px;
		height: 22px;
		display: flex;
		align-items: center;
		margin-left: 48px;
	}
	.menu-bar {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 47px;
	}
	.top-content {
		background-image: url(img/header-img-375.png);
		width: 100%;
		height: 191px;
	}
	.top-content__block {
		/*width: 355px;
		height: 169px;*/
		padding-left: 48px;
	}
	.top-content__h1 {
		font-size: 20px;
		line-height: 19px;
		margin-bottom: 9px;
	}
	.link {
		font-size: 12px;
		line-height: 11px;
	}
	.hidden-375 {
		display: none;
	}
	.catalog {
		margin-left: 48px;
		margin-right: 46px;
	}
	.catalog__title {
		font-size: 20px;
		line-height: 19px;
	}
	.catalog__item {
		width: 281px;
		height: 248px;
	}
	.catalog__item:not(:last-child):after {
		content: "";
		display: none;
	}
	.catalog-item__image {
		width: 165px;
		height: 163px;
		margin-bottom: 22px;
		padding-left: 62px;
	}
	.catalog-item__title {
		font-size: 15px;
		line-height: 14px;
	}
	.catalog-item__price {
		font-size: 20px;
		line-height: 19px;
	}
	.catalog-item__grey, .catalog-item__black, .catalog-item__red, .catalog-item__orange, .catalog-item__brown, .catalog-item__cherry, .catalog-item__blue {
		height: 15px;
		width: 15px;
	}
}

@media (max-width: 374px) {
	.wrapper {
		width: 320px;
	}
	.header {
		grid-template-columns: 1fr 1fr;
		margin-bottom: 26px;
	}
	.header__menu, .header__search, .header__user-block, .header__cart, .header__language-block {
		display: none;
	}
	.header__logo-image {
		display: none;
	}
	.header__logo-image_adaptive {
		width: 104px;
		height: 22px;
		display: flex;
		align-items: center;
		margin-left: 20px;
	}
	.menu-bar {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-right: 20px;
	}
	.top-content {
		background-image: url(img/header-img-375.png);
		width: 100%;
		height: 191px;
	}
	.top-content__block {
		/*width: 355px;
		height: 169px;*/
		padding-left: 20px;
	}
	.top-content__h1 {
		font-size: 20px;
		line-height: 19px;
		margin-bottom: 9px;
	}
	.link {
		font-size: 12px;
		line-height: 11px;
	}
	.hidden-768, .hidden-375 {
		display: none;
	}
	.catalog {
		margin-left: 20px;
		margin-right: 19px;
	}
	.catalog__title {
		font-size: 20px;
		line-height: 19px;
	}
	.catalog__item {
		width: 281px;
		height: 248px;
	}
	.catalog__item:not(:last-child):after {
		content: "";
		display: none;
	}
	.catalog-item__image {
		width: 165px;
		height: 163px;
		margin-bottom: 22px;
		padding-left: 62px;
	}
	.catalog-item__title {
		font-size: 15px;
		line-height: 14px;
	}
	.catalog-item__price {
		font-size: 20px;
		line-height: 19px;
	}
	.catalog-item__grey, .catalog-item__black, .catalog-item__red, .catalog-item__orange, .catalog-item__brown, .catalog-item__cherry, .catalog-item__blue {
		height: 15px;
		width: 15px;
	}
}




